<a href="https://colab.research.google.com/github/ig-quinzel/Placement-training/blob/main/placement_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""Write a program to find the length of longest sub string of a given string which contains exactly k unique characters.
s mohammed shafeeq hameed
•
09:25
Example 1: s = aabbcc
K = 2
Output = 4

Example 2: aabacbebebe
K = 3
Output = 7
"""
s=input("Enter string")
k=int(input("Enter unique value"))
new=set() #to store the unqiue values
i=j=0 #i is the starting point of window and we're traversing the window through j
n=len(s)
res="" #to store substring
maxx=0
while j<n:
  if s[j] not in new:
    new.add(s[j]) #if the value is not in new add it
  if len(new)==k+1:
    '''if the length of set is greater than k that means a new unique value is
     added and we need to create a new window'''
    maxx=max(maxx,len(res)) #compare the current substring length and previous max length
    res="" #clear the substring as we need to create the next substring
    i+=1 #increment the start point of window
    j=i
    new.clear() #clear the set as we're checking the next unique values
  else:
    res+=s[j] #add the element to result(substring)
    j+=1
maxx=max(maxx,len(res))
print(maxx)

Enter stringaabbc
Enter unique value2
4

In [ ]:
"""
Problem Description:
You are given an array of integers, arr, and a non-negative integer K. Your task is to find the number of unique pairs (a, b) from the array such that the absolute difference between a and b is exactly K.
A pair (a, b) is considered unique if the values a and b are distinct. The order of elements in a pair does not matter (i.e., (a, b) is the same as (b, a)). If the array contains duplicate numbers, each unique pair of values should be counted only once.
Example:
If arr = [1, 5, 1, 6] and K = 4:
The unique values in the array are 1, 5, 6.
The pair (1, 5) has an absolute difference of |1 - 5| = 4. This is one unique pair.
Even though 1 appears twice, the pair (1, 5) is counted only once.
If arr = [1, 1, 2, 2] and K = 0:
The unique pairs (a, b) where |a - b| = 0 means a = b.
The distinct value 1 forms the pair (1, 1).
The distinct value 2 forms the pair (2, 2).
So, there are 2 such unique pairs.
Input Format:
The input will consist of three lines:The first line contains an integer N, representing the number of elements in the array arr.The second line contains N space-separated integers, representing the elements of arr.The third line contains a single integer K.
Output Format:
Print a single integer, the total count of unique pairs (a, b) satisfying the condition.

Sample Input and Output:
Sample Input 1:
6
1 5 3 4 2 8
2

Sample Output 1:
3

Explanation:
Unique elements: 1, 2, 3, 4, 5, 8.
Pairs with absolute difference 2: (1,3), (2,4), (3,5). Total 3 pairs.
"""
res=[]
n=int(input("Enter length"))
print("Enter numbers")
for i in range(n):
  x=int(input())
  res.append(x)
k=int(input("enter number"))
c=0
ok=set(res)
ans=set()
for i in res:
  res.remove(i)
  if abs(i-k) in ok and (abs(i-k),i) not in ans or (i,abs(i-k)) not in ans:
    ans.add((abs(i-k),i))
    ans.add((i,abs(i-k)))
    c+=1
print(c)

4
1122
0
0

In [ ]:
"""Problem Statement:

You are given a natural number N. Your task is to count how many times the digit 0 appears in all the numbers from 1 to N (inclusive).

For example:
If N = 20, then the numbers are: 1, 2, 3, ..., 20
The digit 0 appears in: 10 and 20 → total 2 times.


Write a program that calculates the total number of zeros that appear in all numbers from 1 to N.

Input Format:
A single integer N (1 ≤ N ≤ 10⁹)


Output Format:
A single integer representing the total count of digit 0s in numbers from 1 to N

Sample Input 1:

20

Sample Output 1:

2

Sample Input 2:

105

Sample Output 2:

16
Explanation for Sample 2:

The digit 0 appears in:
10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 101, 102, 103, 104, 105
(→ total of 16 zeros)
"""
k=int(input())
res=""
for i in range(1,k+1):
  res+=str(i)
print(res.count("0"))

106
17

In [ ]:
ans=[]
for i in range(len(strs)):
  l1=[]
  l1.append(strs[i])
  s=Counter(strs[i])
  new=strs[:i]+strs[i+1:]
  for j in new:
    if Counter(j)==s:
      l1.append(j)
      ans.append(l1)
return ans

In [ ]:
"""
We can rotate digits by 180 degrees to form new digits. When 0, 1, 6, 8, 9 are rotated 180 degrees, they become 0, 1, 9, 8, 6 respectively. When 2, 3, 4, 5 and 7 are rotated 180 degrees, they become invalid.

A confusing number is a number that when rotated 180 degrees becomes a different number with each digit valid.(Note that the rotated number can be greater than the original number.)

Given a positive integer N, return the number of confusing numbers between 1 and N inclusive.



Example 1:

Input: 20
Output: 6
Explanation:
The confusing numbers are [6,9,10,16,18,19].
6 converts to 9.
9 converts to 6.
10 converts to 01 which is just 1.
16 converts to 91.
18 converts to 81.
19 converts to 61.
Example 2:

Input: 100
Output: 19
Explanation:
The confusing numbers are [6,9,10,16,18,19,60,61,66,68,80,81,86,89,90,91,98,99,100].


Note:

1 <= N <= 10^9 """
d={0:0,1:1,6:9,8:8,9:6}
n=int(input("enter number"))
def confuse(num):

for i in range(1,n+1):
  res.append(i)
c=0
for i in res:
  confuse(i)

In [ ]:
"""
Given an array containing n distinct numbers taken from 0, 1, 2, ..., n, find the one that is missing from the array.

    Example 1:

    Input: [3,0,1]
    Output: 2
    Example 2:

    Input: [9,6,4,2,3,5,7,0,1]
    Output: 8
"""
input=[9,6,4,2,3,5,7,0,1]
maxx=max(input)
tot=maxx*(maxx+1)

8

In [ ]:
'''
Mr. Ramesh is the manager at the  hotel. The hotel has an infinite amount of rooms.
One fine day, a  number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of  members per group where  ≠ .
The Captain was given a separate room, and the rest were given one room per group.
Mr. Ramesh has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear  times per group except for the Captain's room.
Mr. Ramesh needs you to help him find the Captain's room number.


The first line consists of an integer, , the size of each group.
The second line contains the unordered elements of the room number list.




Output the Captain's room number.

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8
'''
from collections import Counter
k=5
arr=[1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6,2]
s=Counter(arr)
for key,val in s.items():
  if val==1:
    print(key)
    break
new=set(arr)
sum1=sum(new)
new1=sum1*k
sum2=sum(arr)
print((new1-sum2)//(k-1))

8
8

In [ ]:
'''
Given an amount and the denominations of coins available, determine how many ways change can be made for amount. There is a limitless supply of each coin type.
s mohammed shafeeq hameed
•
09:37
Input:

amount =3
D = [1,2,3]
Output: 3
Explanation: {(1,1,1), (1,2), (3)}
'''
d=[6,1,2,3]
d.sort()
a=3
n=len(d)
res=[]
def back(start,path):
  if sum(path)==a:
    res.append(path[:])
    return
  if sum(path)>a:
    return
  for i in range(start,n):
    path.append(d[i])
    back(i,path)
    path.pop()
back(0,[])
for i in res:
  i.sort()
new=[]
for i in res:
  if i not in new:
    new.append(i)
print(len(new))

d=[6,1,2,3]
d.sort()
a=3
n=len(d)
res=set()
def back1(start,path,curr):
  if curr==a:
    res.add(tuple(sorted(path)))
    return
  if curr>a:
    return
  for i in range(start,n):
    path.append(d[i])
    back1(i,path,d[i]+curr)
    path.pop()
back1(0,[],0)
print(len(res))

3
3

In [ ]:
n=10
res=[0]*n
q = [[1,5,3], [4,8,7], [6,9,1]]
print(res)
for i in q:
  st,en,val=i
  while st<=en:
    res[st]+=val
    st+=1
print(res)
print(max(res))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 3, 3, 3, 10, 10, 8, 8, 8, 1]
10

In [ ]:
'''
Given a string text, you want to use the characters of text to form as many instances of the word "balloon" as possible.
You can use each character in text at most once. Return the maximum number of instances that can be formed.


Example 1:
Input: text = "nlaebolko"
Output: 1

Example 2:
Input: text = "loonbalxballpoon"
Output: 2

Example 3:
Input: text = "lwillcode"
Output: 0


Constraints:

1 <= text.length <= 10^4
text consists of lower case English letters only.
'''
from collections import Counter
new=[]
s='balloon'
text = "loonbaoolxballpoon"
for i in text:
  if i in s:
    new.append(i)
if len(new)==0:
  print("0")
else:
  n=Counter(new)
  minn=min(n.values())
  if all(x>=minn for x in n.values()) and len(n)==len(set(s)):
    print(minn)
  else:
    print("0")

2